@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    padding-top: 150px !important; 
    background: #222; 
}

video { 
    border-radius: 5px; 
}

.emotion { 
    top: -210px; 
    left: 70px;
    text-shadow: 3px 3px 0 #000; 
}

.gender { 
    top: -220px; 
    left: 70px;
    text-shadow: 3px 3px 0 #000; 
}

.age { 
    top: -230px; 
    left: 70px;
    text-shadow: 3px 3px 0 #000; 
}

